In [2]:
from montecarlo import montecarlo
import numpy as np

In [5]:
mylist = [1,1,1]
sum(mylist)

3

In [3]:
Die1 = montecarlo.Die(faces=np.array([1,2,3]))
Die1.current_state()

   weight
1       1
2       1
3       1

In [48]:
Die1.other_test()

AttributeError: 'Die' object has no attribute 'other_test'

In [24]:
a = np.array([1,2,3])
type(a)

numpy.ndarray

In [25]:
my_die = montecarlo.Die(faces=np.array([1,2,2]))

my_die.current_state()

   weight
1       1
2       1
2       1